//@import "../vendor/bootstrap-3.1.1/stylesheets/bootstrap/variables"
@import "../vendor/bootstrap-3.1.1/stylesheets/bootstrap/mixins"
@import "../vendor/bootstrap-3.1.1/stylesheets/bootstrap/normalize"
//@import "../vendor/bootstrap-3.1.1/stylesheets/bootstrap/type"
@import "mixins"
@import "flexbox"
@import "fonts/lato"

$break-mobile: 410px
$break-small: 570px

@mixin text-shadow($xofs, $yofs, $blur, $color)

@mixin monkey-text-drop-shadow()
    $xofs: +1px
    $yofs: +1px
    $blur:  1px
    $color: rgba(0, 0, 0, 0.80)
    -webkit-text-shadow: $xofs $yofs $blur $color
    -moz-text-shadow: $xofs $yofs $blur $color
    -o-text-shadow: $xofs $yofs $blur $color
    text-shadow: $xofs $yofs $blur $color

body
    //@include antialias()
    color: #fff
    background-color: #222
    font-family: 'latolight'
    overflow: hidden
    -webkit-overflow-scroll: none


h1, h2, h3
    font-family: 'latoregular'

html, body
    height: 100%
    width: 100%

$depth: 3000px
$background_z: -1000px

body
    //-moz-transform: transform(translate3d(0, 0, 0))
    perspective: $depth
    -moz-perspective: $depth
    -webkit-perspective: $depth

body, .foreground, .main, header
    transform-style: preserve-3d
    -moz-transform-style: preserve-3d
    -webkit-transform-style: preserve-3d

section, header, .background
    -webkit-font-smoothing: subpixel-antialiased
    -webkit-backface-visibility: hidden

.foreground
    height: 100%

.foreground, .main
    @extend %flexbox
    @include align-items(center)
    @include justify-content(center)
    @include flex-direction(column)

.main
    @include flex
    width: 100%

.addendum
    height: 3em

.background
    position: absolute
    background: url('../img/background.png') no-repeat
    background-size: cover
    background-position: 50% 50%
    // Computed using the JavaScript parallax effect
    @include transform(translate3d(0, 0, $background_z))
    width: 1741px
    height: 1246px
    left: -368px
    top: -306px

// disable background thingy on mobile
@media screen and (max-width: $break-small)
    .background
        display: none
    body
        background: url('../img/background.png') no-repeat
        background-size: cover
        background-position: 50% 50%

header

    text-align: center
    margin: 0 0 1.5em 0
    width: 80%

    @media screen and (max-width: $break-small)
        margin: 0 0 1em 0

    .logo
        background: url('../img/logo.svg') no-repeat
        background-size: auto 100%
        background-position: 50% top
        height: 5em
        width: 100%
        margin: 0 0 0.5em 0
        text-indent: -99999px
        // Computed by JavaScript
        @include transform(translate3d(0px, 0px, -480px) scale(1.16))

        @media screen and (max-width: $break-mobile)
            background: url('../img/monkey.svg') no-repeat
            background-size: auto 100%
            background-position: 50% top
            height: 3em

        @media screen and (max-width: $break-small)
            background-size: auto 100%
            height: 3em

    .slogan
        font-family: 'latolight'
        font-size: 24pt
        font-weight: normal
        font-style: normal
        text-transform: uppercase
        margin: 1em 0 0 0
        max-width: 100%
        // Computed by JavaScript
        @include transform(translate3d(0px, 0px, -240px) scale(1.08))

        @media screen and (max-width: $break-mobile)
            display: none

        @media screen and (max-width: $break-small)
            font-size: 18pt


section
    @include box-sizing(border-box)

    padding: 0 10px

    color: #fff
    font-size: 1em
    font-family: 'latolight'

    p
        margin: 0

    ul
        @extend .list-unstyled
        text-align: center
        margin: 0

        li
            display: inline-block

.projects
    // Computed by JavaScript
    @include transform(translate3d(0px, 0px, 0px))
    max-width: 36em
    ul li
        margin: 0 0.8em
        a
            color: #fff
            text-decoration: none
            text-transform: uppercase
            line-height: 1.8em
            display: inline-block
            @include monkey-text-drop-shadow()
            @include transition(color)

            &:active, &:hover
                color: #f1ef1f

.contact
    // Computed by JavaScript
    @include transform(translate3d(0px, 0px, 0px))
    ul
        height: 100%
        *
            @include monkey-text-drop-shadow()
        a
            color: inherit
            text-decoration: inherit
        li
            margin-right: 0.2em
        li:after
            content: '|'
            display: inline-block
            margin-left: 0.2em
        li:last-child:after
            content: ''
            display: none


// banana for scale
.bananas banana
    position: absolute
    left: 50%
    top: 50%
    width: 25px
    height: 30px
    background: url(../img/banan.png) no-repeat 50% 50%
    background-size: contain
