<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,minimal-ui,user-scalable=no,initial-scale=1.0">
        <!--
        <meta name="viewport" content="width=device-width,height=device-height,minimal-ui,maximum-scale=1.0,minimum-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        -->

        <title>5 Monkeys</title>

        <link rel="stylesheet" href="css/theme.css">
        <link rel="shortcut icon" href="img/redmonkey57.png" />
        <link rel="apple-touch-icon" sizes="57x57" href="img/redmonkey57.png" />
        <link rel="apple-touch-icon" sizes="72x72" href="img/redmonkey72.png" />
        <link rel="apple-touch-icon" sizes="114x114" href="img/redmonkey114.png" />
        <link rel="apple-touch-icon" sizes="144x144" href="img/redmonkey144.png" />

        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        {{ content }}

        <script src="vendor/jquery/jquery-1.11.0.min.js"></script>
        <script src="js/script.js"></script>
    </body>
</html>
