<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>5 Monkeys</title>

        <link rel="shortcut icon" href="img/monkey.png">
        <link rel="stylesheet" href="css/theme.css">

        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        {{ content }}

        <script src="vendor/jquery/jquery-1.11.0.min.js"></script>
        <!--<script src="vendor/bootstrap-3.1.1/javascripts/bootstrap.min.js"></script>-->
    </body>
</html>
